body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width:70%;
}
